body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    justify-content: center; /* Centers the content vertically */
    min-height: 100vh; /* Ensures full viewport height */
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 5px 0;
}

button {
    padding: 5px 10px;
}

.image-container {
    display: flex;
    justify-content: center; /* Horizontally centers the image */
    align-items: center; /* Vertically centers the image */
    width: 100%; /* Ensures the container spans the full width */
    height: auto;
    margin-bottom: 20px;
}

.center-image {
    width: 80%;  /* Default to 80% width on smaller screens */
    height: auto;
}

@media (min-width: 768px) {
    .center-image {
        width: 50%;  /* On larger screens, the image will be 50% width */
    }
}
